extends layout

block doctype
  doctype html

block header
  link(rel="stylesheet",href="stylesheets/index.css")
  script.
    window.sessionStorage.setItem("root",1);
    $(function(){
      DISystem.hiddenMenu();
      $(".di_toolbar_back").on("click",function(){
        DISystem.goBack();
      });
      $("ul").on("click","li",function(){
        if(!(/^di/.test(this.id)))
          window.location.href="/home/{0}/detail".format(this.id);
        else
        {
          window.location.href="/home/project/new";
        }
      });
      DISystem.addRightMenu("btn_new_project","新建",{"color":"white","top":"13.5px","right":"15px"},function(){
        window.location.href="/home/project/new";
      });
      $("li div").on("click","a",function(e){
        e.stopPropagation();
        var _this = this;
        if(parseInt(this.dataset.index)==2)
        {
          if(!this.dataset.pid)return;
          var cf = window.confirm("确定删除么？");
          if(cf)
          {
            $.ajax({
              type:'delete',
              url:'/project/{0}/delete'.format(_this.dataset.pid),
              success:function(data){
                DISystem.showTooltip(data.msg);
                if(data.code==200)
                {
                  $(_this).parent().parent().remove();
                  //$("li#{0}".format(_this.dataset.pid)).remove();
                }
              },
              error:function(xhr,status,error)
              {
                DISystem.showTooltip("提交失败");
              }
            });
          }
        }
      });
    });

block content
  body
    article
      ul
        each val, index in (data.projects)
          li(id=val._id)
            div
              a(id=val._id)=val.name
              if (data.auths[val._id]&0x40)
                a(style="color:green;",data-index="0",href="/project/"+val._id+"/authority") 授权
              if (data.auths[val._id]&0x20)
                a(data-index="1",href="/project/"+val._id+"/update") 修改
              if (data.auths[val._id]&0x10)
                a(style="color:red;",data-index="2",data-pid=val._id) 删除
            a=val.desc

        li#di_new_project.di_pc_only
          a 新建项目
