extends ../layout.jade

block doctype
  doctype html

block header
  link(href="/stylesheets/manager/user.css",rel="stylesheet")
  script.
    $(function(){
      $("ul").on("click","li",function(e){
        var sdata = {
          data:{
            _id:this.dataset.uid,
            username:this.dataset.name
          },
          url:"",
          type:""
        };
        var target = e.srcElement||e.target;
        var _this = $(this);
        if(/授权/.test(target.innerHTML))
        {
          sdata.url = "/users/authRole";
          sdata.type= "put";
          var authRole = this.dataset.auth;
          if(/取消/.test(target.innerHTML))
          {
            sdata.data.authRole = authRole&0x0d;
            sdata.success=function(data){
              _this.html(_this.html().replace("green","red"));
              _this.html(_this.html().replace("取消",""));
            };
          }
          else
          {
            sdata.data.authRole = authRole|0x02;
            sdata.success=function(data){
              _this.html(_this.html().replace("red","green"));
              _this.html(_this.html().replace("授权","取消授权"));
            };
          }

        }
        else
          if(/密码/.test(target.innerHTML))
          {
            sdata.url = "/users/resetPassword";
            sdata.type="put";
            sdata.success=function(){}
          }
          else
            if(/删除/.test(target.innerHTML))
            {
              sdata.url="/users/delete";
              sdata.type="delete";
              sdata.success=function(data){
                _this.remove();
              }
            }
            if(!sdata.url)return;
            $.ajax({
              url:sdata.url,
              type:sdata.type,
              data:sdata.data,
              success:function(data){
                DISystem.showTooltip(data.msg);
                if(data.code==DIStatus.DIStatusOK)
                {
                  sdata.success(data);
                }
              },
              error:function(xhr,status,error){
                DISystem.showTooltip("操作异常!");
              },
              complete:function(xhr,status){}
            });
      });
      $.ajax({
        url:'/users',
        method:'get',
        success:function(data){
          if(data.code==DIStatus.DIStatusOK)
          {
            var html = "";
            data.data.forEach(function(item,index){
              html += "<li data-uid='{0}' data-name='{1}' data-auth='{4}'><a>{1}</a><a style='color:{2}'>{3}授权</a><a>重置密码</a><a>删除</a></li>".format(item._id,item.username,((item.authRole&0x02)==0?"red":"green"),((item.authRole&0x02)==0?"":"取消"),item.authRole);
            });
            $("ul").html(html);
            html = undefined;
          }
        },
        error:function(xhr,status,error){},
        complete:function(xhr,status){}
      });
      DISystem.setMenuCallback(function(){
        $(".toolbar_menu").toggle();
      });
      $(".toolbar_menu").on("click","a",function(){
        $(".toolbar_menu").toggle();
        if(this.classList.contains("menu_addUser"))
        {
          var html = "<div class='mask_div'>\
                        <div>\
                          <a>新建用户</a>\
                          <input type='text' placeHolder='请输入用户名' id='txt_username'>\
                          <input type='password' placeHolder='请输入密码' id='txt_password'>\
                          <input type='password' placeHolder='请确认密码' id='txt_cpassword'>\
                          <div>\
                            <a>允许创建项目</a>\
                            <a class='user_allowCreate user_Create'></a>\
                          </div>\
                          <a class='btn_ok'>确定</a>\
                        </div>\
                      </div>";
          $("body").append(html);
          $(".mask_div").on("click",function(e){
            var target = e.srcElement||e.target;
            if(target.classList.contains('btn_ok'))
            {
              var username = $("#txt_username").val();
              var password = $("#txt_password").val();
              var cpassword = $("#txt_cpassword").val();

              if(!(username&&password&&cpassword))
              {
                DISystem.showTooltip("请检查输入");
                return;
              }
              else
              {
                if(password!=cpassword)
                {
                  DISystem.showTooltip("密码不一致");
                  return;
                }
              }
              $.ajax({
                url:'/users/new',
                type:'post',
                data:{
                  username:username,
                  password:password,
                  auth:document.querySelector(".user_Create").classList.contains("user_allowCreate")?1:0
                },
                success:function(data){
                  DISystem.showTooltip(data.msg);
                  if(data.code==DIStatus.DIStatusOK)
                  {
                    var item = data.data;
                    var html = "<li data-uid='{0}' data-name='{1}'  data-auth='{4}'><a>{1}</a><a style='color:{2}'>{3}授权</a><a>重置密码</a><a>删除</a></li>".format(item._id,item.username,((item.authRole&0x02)==0?"red":"green"),((item.authRole&0x02)==0?"":"取消"),item.authRole);
                    $("ul").append(html);
                    html = undefined;
                  }
                },
                error:function(xhr,status,error)
                {
                  DISystem.showTooltip("操作失败");
                }
              });
              $(".mask_div").remove();
              return;
            }
            if(target.classList.contains("user_allowCreate"))
            {
              this.classList.remove("user_allowCreate");
              this.classList.add("user_notallowCreate");
            }
            else
              if(target.classList.contains("user_notallowCreate"))
            {
              this.classList.remove("user_notallowCreate");
              this.classList.add("user_allowCreate");
            }
            else
              $(".mask_div").remove();
          });
        }
      });
    });
block content
  body
    article
      nav.toolbar_menu
        a.menu_addUser 添加用户
      div
        ul
          li
            a 用户名
            a 编辑
            a 删除
            a 重置密码
