extends ../layout
block doctype
  doctype html

block header
  style.
    body
    {
      overflow:hidden;
    }
    article
    {
      margin:auto;
      height:calc(100% - 60px);
      width:95%;
      margin-top:60px;
      overflow-y:scroll;
    }
    input[type='text']
    {
      height:36px;
      outline:none;
      border:none;
      border-bottom:solid 1px #ccc;
      padding-left:1%;
      margin-bottom:10px;
    }
    .di_input input[type='text']
    {
      height:36px;
      outline:none;
      border:none;
      border-bottom:solid 1px #ccc;
      width:98%;
    }
    article > div > div > a
    {
      display:block;
    }
    .di_method
    {
      display: -moz-box;
      display: -webkit-box;
      display: box;
      display:flex;
      width:95%;
      margin:auto;
    }
    .di_method > a
    {
      flex:1;
      -moz-box-flex: 1;
      -webkit-box-flex: 1;
      box-flex: 1;
      text-align:center;
      padding:10px 0px;
      background:#ddd;
      border:1px solid #888;
      border-radius:3px;
      font-weight:bolder;
    }
    .di_param
    {
      margin-top:20px;
    }
    .di_add_param
    {
      width:100px;
      padding:12px;
      background:#22aadd;
      border-radius:5px;
      color:white;
      text-align:center;
      margin:auto;
      margin-top:10px;
      margin-bottom:10px;
    }
    .di_param_field
    {
      display: -moz-box;
      display: -webkit-box;
      display: box;
      display:flex;
    }
    .di_param_field > input:nth-of-type(1)
    {
      width:100px;
    }
    .di_param_field > input:nth-of-type(2)
    {
      flex:1;
      -moz-box-flex: 1;
      -webkit-box-flex: 1;
      box-flex: 1;
    }
    .a_btn_delete
    {
      display:inline-block;
      width:26px;
      height:26px;
      background:#ff6666;
      border-radius:13px;
      position:relative;
    }
    .a_btn_delete::before
    {
      content:"";
      position:absolute;
      width:20px;
      height:4px;
      background:white;
      border-radius:2px;
      top:11px;
      left:3px;
    }
    textarea
    {
      width:95%;
      margin:auto;
      border:1px solid #22aadd;
      border-radius:4px;
    }
    .di_retContent ul
    {
      padding-left:10px;
    }
    .di_retContent li
    {
      display:block;
    }
    li a
    {
      text-indent:2em;
      display:inline-block;
    }
    a+ul
    {
      margin-left:2em;
    }
    .di_method_selected
    {

    }
    .di_method_nomal
    {

    }
  script.
    var paramField = '<div class="di_param_field"><input type="text" placeholder="参数">&nbsp;<input type="text" placeholder="参数说明">&nbsp;<a class="a_btn_delete"></a></div>';
    function getReturn(jsonData,objName){
      var html = "";
      if(typeof jsonData=="object")
      {
        if(jsonData instanceof Array)
        {
          if((!(jsonData[0] instanceof Array)&&(typeof jsonData[0])!="object")||jsonData.length==0)
          {
            //if((typeof jsonData[0])!="object")
              html += "&nbsp;<input type='text' value='{0}' data-path='{1}' />".format(jsonData[0]||"数组",objName);
            //else
              //html += "<li><a>{0}</a>{1}".format(objName,getReturn(jsonData[0],"{0}.{1}".format(objName)));
          }
          else
          {
            jsonData.splice(1,jsonData.length-1);
            html += "<ul><li>[</li>&nbsp;&nbsp;{0}<li>]</li></ul>".format(getReturn(jsonData[0],"{0}[0]".format(objName)));
          }
        }
        else
        {
          html += "<ul><li>{</li>";
          for(var item in jsonData)
          {
            html += "<li><a>{0}</a>{1}".format(item,getReturn(jsonData[item],"{0}.{1}".format(objName,item)));
          }
          html += "<li>}</li></ul>";
        }
      }
      else
      {
        html += "&nbsp;<input type='text' value='{0}' data-path='{1}' />".format(jsonData,objName);
      }
      return html;
    };
    $(function(){
      DISystem.hiddenMenu();
      $(".di_method").on("click",function(e){
        $("a",this).css({"background":"#ddd","color":"#666","border":"1px solid #888"}).removeClass("method-selected");
        $(e.srcElement||e.target).css({"background":"#22aadd","color":"white","border":"1px solid #22eeee"}).addClass("method-selected");
      });
      if($(".method-selected").length<=0)
      {
        $(".di_method > a:first").click();
      }
      else
      {
        $(".method-selected").click();
      }
      $(".di_param").on("click",function(e){
        var target = e.srcElement||e.target;
        if(target.classList.contains("a_btn_delete"))
        {
          $(target).parents("div.di_param_field").remove();
          return;
        }
        if(target.classList.contains("di_add_param"))
        {
          $(target).before(paramField);
          return;
        }
      });
      var returnContent = "";
      $("textarea").keyup(function(){
        var flag=false;
        try
        {
          returnContent = JSON.parse(this.value);
          flag = true;
        }
        catch(e)
        {
          returnContent = this.value;
          flag = false;
        }
        finally
        {
          var html = flag ? getReturn(returnContent,"returnContent") : "";
          $(this).next().html(html);
        }
      }).keyup();

      $(".di_retContent_field").on("keyup","input",function(){
        eval("{0}='{1}'".format(this.dataset.path,this.value));
        $("textarea").val(JSON.stringify(returnContent));
      });
      DISystem.addRightMenu("btn_store","保存",{"color":"white","display":"block","top":"13.5px","right":"15px"},function(){
          if($("input#di_format").val()=="")
          {
            alert("请输入完成后保存");
            return;
          }
          var projectId = document.querySelector("article").dataset.pid;
          var retData = {
            _id:document.querySelector("article").dataset.did,
            projectId:projectId||"-1",
            name:$("input#di_name").val(),
            format:$("input#di_format").val(),
            intro:$("input#di_intro").val(),
            method:$("a.method-selected").html(),
            params:getParam(),
            retContent:returnContent
          };
          $.ajax({
            type:document.querySelector("article").dataset.did=="-1"?'post':'put',
            url:window.location.href,
            data:{dataBody:JSON.stringify(retData)},
            success:function(data){
              if(data.code===200)
              {
                DISystem.showTooltip("操作成功");
                window.setTimeout(function(){
                  window.history.go(-2);
                },2000);
              }
              else
              {
                DISystem.showTooltip(data.msg);
              }
            },
            error:function(xhr,status,err){
              DISystem.showTooltip("发生异常");
            },
          });
      });
      function getParam()
      {
        var param = [];
        var inputs = $("input.di_param_name_input");
        //inputs.forEach(function(item,index){
        for(var i=0;i<inputs.length;i++)
        {
          var item = inputs[i];
          var value = item.value.replace(/ /g,"");
          if(value!="")
          {
            param.push({name:value,intro:$(item).next().val()});
          }
        }
        return param;
      }
    });

block content
  //- var _di=di||{}
  article(data-pid=projectId,data-did=datainterface?datainterface._id:"-1")
    div
      div.di_input
        input#di_name(type='text',placeHolder="接口名称",data-need="true",value=datainterface?datainterface.name:"")
      div.di_input
        input#di_format(type='text',placeHolder="接口格式",data-need="true",value=datainterface?datainterface.format:"")
      div.di_input
        input#di_intro(type='text',placeHolder="接口说明",value=datainterface?datainterface.intro:"")
      div.di_method
        a(class=datainterface?((datainterface.method||'GET')=='GET'?"method-selected":""):"") GET
        a(class=datainterface?((datainterface.method||'GET')=='POST'?"method-selected":""):"") POST
        a(class=datainterface?((datainterface.method||'GET')=='PUT'?"method-selected":""):"") PUT
        a(class=datainterface?((datainterface.method||'GET')=='DELETE'?"method-selected":""):"") DELETE
      div.di_param
        if datainterface
          each val in datainterface.params
            div.di_param_field
              input.di_param_name_input(type='text',placeHolder='参数',value=val.name)
              &nbsp
              input(type='text',placeHolder='参数说明',value=val.intro)
              &nbsp;
              a.a_btn_delete
        else
          input.di_param_name_input(type='text',placeHolder='参数',value=val.name)
          &nbsp
          input(type='text',placeHolder='参数说明',value=val.intro)
          &nbsp;
          a.a_btn_delete
        a.di_add_param 添加参数
      div.di_retContent
        textarea(rows=8,placeHolder="返回值")=datainterface?JSON.stringify(datainterface.retContent):""
        div.di_retContent_field
